<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />

    <title>部落格</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="style.css" />
    <style>
      <%- include('style.css') %>
      <%- include('normalize.css') %>
    </style>
  </head>

  <body>
    <nav class="navbar">
      <div class="wrapper navbar__wrapper">
        <div class="navbar__site-name">
          <a href="/">Who's Blog</a>
        </div>
        <ul class="navbar__list">
          <div>
            <li><a href="/list">文章列表</a></li>
            <li><a href="#">分類專區</a></li>
            <li><a href="#">關於我</a></li>
          </div>
          <div>
            <% if(username) { %>
            <li><a href="/admin">管理後台</a></li>
            <li><a href="/logout">登出</a></li>
            <% } else { %>
            <li><a href="/login">登入</a></li>
            <% } %>
          </div>
        </ul>
      </div>
    </nav>
    <section class="banner">
      <div class="banner__wrapper">
        <h1>存放技術之地</h1>
        <div>Welcome to my blog</div>
      </div>
    </section>
    <div class="container-wrapper">
      <div class="posts">
        <article class="post">
          <div class="post__header">
            <div><%= blog.topic %></div>
            <% if(username) { %>
            <div class="post__actions">
              <a class="post__action" href="/update-article/<%= blog.id %>"
                >編輯</a
              >
            </div>
            <% } %>
          </div>
          <div class="post__info"><%= blog.createdAt %></div>
          <div class="post__content"><%= blog.article %></div>
        </article>
      </div>
    </div>
    <footer>Copyright © 2020 Who's Blog All Rights Reserved.</footer>
  </body>
</html>
